h1= title

p: a(class='button' href='/books/new') Create New Book 

form(classname="searh-form" action="/books/results/1/" method="get") 
    input(name="search" class="search-input" type="search" id="search")
    input(class="search-submit" type="submit" id="search-submit" value="Search")