extends layout 

block content 
    h1= title 

    include validation 

    form(action="/books/" + book.id, method="post")
        include form 

        p: input(type="submit" value="Update Book")

    form(
        action="/books/" + book.id + "/delete"
        method="post"
        onsubmit="return confirm('Are you sure you want to delete this book?');"
    )
        p: a(class="button" href="/books/page/1") Cancel 
        p: input(type="submit" value="Delete Book") 